<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PressHop</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.presshop.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PressHop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.750460561502-geuno4tt1ic52cor9l2obl1vhuogvsp0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<string>YES</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>GIDClientID</key>
	<string>750460561502-geuno4tt1ic52cor9l2obl1vhuogvsp0.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
<string>Allow PressHop to access Apple Music for audio use in content.</string>
<key>NSBluetoothAlwaysUsageDescription</key>
<string>This is required due to libraries used by the app. We do not access Bluetooth.</string>
<key>NSCalendarsUsageDescription</key>
<string>Allow PressHop to access your calendar for reminders and scheduling.</string>
<key>NSCameraUsageDescription</key>
<string>Allow PressHop to use the camera for taking photos and videos for news content submissions.</string>
<key>NSContactsUsageDescription</key>
<string>May be used for inviting or sharing with contacts in future updates.</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>Allow PressHop to use your location for geotagging and task relevance.</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>Allow location access in the background for content tagging.</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>Allow location access while using the app for content relevance.</string>
<key>NSMicrophoneUsageDescription</key>
<string>Allow PressHop to record audio during video capture or interviews.</string>
<key>NSMotionUsageDescription</key>
<string>Used for camera stability or future motion-based features.</string>
<key>NSPhotoLibraryAddUsageDescription</key>
<string>Allow saving captured content to your device's gallery.</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>Allow PressHop to access your gallery to upload content.</string>
<key>NSSpeechRecognitionUsageDescription</key>
<string>Allow speech-to-text for audio captions and future features.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:betazone.promaticstechnologies.com</string>
	</array>
</dict>
</plist>
