<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppsFlyerAppID</key>
	<string>6744651614</string>
	<key>AppsFlyerDevKey</key>
	<string>bxvwnv53n3J7eKMAiDmX7J</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PressHop</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.presshop.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PressHop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.26</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.750460561502-geuno4tt1ic52cor9l2obl1vhuogvsp0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>presshopapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>presshopapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>41</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<string>YES</string>
	<key>FacebookAppID</key>
	<string>4098273470461354</string>
	<key>FacebookClientToken</key>
	<string>511f243cec6c666dc39a378e0eb084ef</string>
	<key>FacebookDisplayName</key>
	<string>PressHop</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>GIDClientID</key>
	<string>750460561502-geuno4tt1ic52cor9l2obl1vhuogvsp0.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
		<string>fb</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>prograd</string>
		<string>waze</string>
		<string>snapchat</string>
		<string>instagram</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>PressHop needs access to your Apple Music so that you can add background audio or music to your content before uploading.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow PressHop to access your calendar for reminders and scheduling.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow PressHop to use the camera for taking photos and videos for news content submissions.</string>
	<key>NSContactsUsageDescription</key>
	<string>We needs access to your contacts so you can invite friends or share content with people you trust in future updates.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>PressHop needs your location to display tasks in your area and to validate content submissions, even when running in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>PressHop requires your location at all times to help match you with nearby tasks and to verify your location even when the app is in the background</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>PressHop uses your location while the app is open to show local tasks, enable the camera for submissions, and ensure accurate task matching.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow PressHop to record audio during video capture or interviews.</string>
	<key>NSMotionUsageDescription</key>
	<string>Used for camera stability or future motion-based features.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow saving captured content to your device's gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need permission to access your photo library so that you can upload and sell your photos and videos instantly.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need speech recognition to let you convert your voice into text for audio captions and to support future features. Your voice data is handled securely and never stored without consent.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized content and measure campaign performance.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:betazone.promaticstechnologies.com</string>
	</array>
</dict>
</plist>
